@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section4{
    width: 100%;
height: 469px;
background-image: url(../../../public/images/company_img3.svg);
background-size: cover;
background-position: center;
margin-top: 80px;
padding-top: 80px;
}

.questions{
  width: 570px;
  margin-left: 17%;
}

.inp2{
  width: 460px;
height: 156px;
margin-top: 25px;
}

.questions_p1{
  width: 424px;
height: 48px;
top: 80px;
left: 312px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 46px;
font-weight: 500;
line-height: 48.3px;
letter-spacing: -0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
}

.questions_p2{
  width: 567px;
height: 50px;
top: 158px;
left: 312px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
margin-top: 30px;
}

.filled-basic{
  &:last-child{
    margin-left: 20px;
  }
  opacity: 0.7;
}

.check{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
height: 19px;
border-radius: 2px ;
border: 1px;
color:#fff;
margin-top: 20px;

}

.checkbox{
  width: 14px;
height: 14px;
padding: 4px 3px 4px 3px;
border-radius: 2px ;
border: 1px ;
color: #fff;
}

.check_p{
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
opacity: 0.7;
margin-left: 10px;
}

.check_btn{
  width: 176px;
height: 60px;
padding: 20px 29px 20px 30px;
border-radius: 50px;
color: #fff;
background-color: #C6BCB2;
margin-top: 20px;
border: 0;
cursor: pointer;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 20.3px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}